<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        @*<meta name="apple-mobile-web-app-capable" content="yes" />*@
        <meta http-equiv="EXPIRES" content="-1">
        <title>Membership Activation@*@ViewBag.Title*@</title>
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/bundles/Global/Commoncss")
        @Scripts.Render("~/bundles/Account/Activate")
    </head>
    <body>
        <h3>Activate your account:</h3>
        <form id="_ActivateForm" method="post">
            <input type="hidden" id="hidResetGUID" name="ResetGUID" value="@ViewBag.ResetGUID" />
            <table>
                <tr>
                    <td>New Password:</td>
                    <td><input type="password" id="pwdPWD1" name="pwdPWD1" maxlength="20" /></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" id="pwdPWD2" name="pwdPWD2" maxlength="20" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
            <span id="lblErrMsg" class="ErrorMsg">@Html.Raw(ViewBag.ErrMsg)</span>
        </form>
    </body>
</html>