<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        @*<meta name="apple-mobile-web-app-capable" content="yes" />*@
        <meta http-equiv="EXPIRES" content="-1">
        <title>Forgot Password@*@ViewBag.Title*@</title>
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/bundles/Global/Commoncss")
        @Scripts.Render("~/bundles/Account/ForgotPassword")
    </head>
    <body>
        <h3>Please provide your account information in order to reset your password.</h3>
        <form method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="hidFlag" value="@ViewBag.hidFlag" />
            <table>
                <tr>
                    <td class="FieldLabel">Account ID:</td>
                    <td><input type="text" id="txtAccountID" name="txtAccountID" value="@ViewBag.txtAccountID" /></td>
                </tr>
                <tr>
                    <td class="FieldLabel">Primary Email:</td>
                    <td><input type="text" name="txtPrimaryEmail" value="@ViewBag.txtPrimaryEmail" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Reset My Password" />
                    </td>
                </tr>
            </table>
            <span class="SuccessMsg">@Html.Raw(ViewBag.SuccessMsg)</span>
            <span class="ErrorMsg">@Html.Raw(ViewBag.ErrMsg)</span>
            <div><a href="@Session["AppPath"]">Return to Login.</a></div>
        </form>
    </body>
</html>