<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("styles", required: false)
    <![if (gte IE 10)]>
    @RenderSection("scripts", required: false)
    <![endif]>



</head>
<body>
    <!--[if (gte IE 10) | (!IE)]>
    @RenderBody()   
       <![endif]-->
    <!--[if lt IE 10]>
    <h1>Sorry, the browser version must greater than or equal to IE10.</h1>
        <![endif]-->
</body>
</html>
