<script lang="javascript">
    var _SubFolderForUploadExcel = "@ViewBag.UploadFolderName" //for upload use
    @*var iPowerUserID = '@Html.Raw(ViewBag.UserID)';
    var iPowerUserNameE = '@Html.Raw(ViewBag.UserNameE)';
    var __ControllerName = "ItemMaster";
    var __Area = 1;
    //Start Session Expired Timer
    StartPortalSessionStopWatch();*@
</script>

@*<script type="text/javascript" src="~/Scripts/UploadifyF32/jquery.uploadify.min.js"></script>
@Scripts.Render("~/bundles/UploadifyF32/js")
@Styles.Render("~/bundles/UploadifyF32/css")*@
@Styles.Render("~/Content/jQuery-File-Upload")
@Scripts.Render("~/bundles/jQuery-File-Upload")

@Scripts.Render("~/bundles/VMIProcess/UploadVDS")
@RenderPage("~/Views/VMIProcess/UploadVDS/dialogUploadVDSSummary.cshtml")
@RenderPage("~/Views/VMIShare/dialogDownloadSplash.cshtml")

<div>
    <table class="defaultTable" style="width: 650px;">
        <tr>
            <td style="text-align: right; font-weight: bold;">Upload Demand/Supply<br />(Daily/Weekly/Monthly) Reply<br />File:</td>
            <td style="vertical-align: top;">
                @*<span style="color: olivedrab;">Click <b>[Browse]</b> to select file to be uploaded</span><br /><div id="Spec_FileUpload" style="padding-top: 5px;">
                    <div id="Spec_FileUpload_FileList"></div>
                    <input type="file" id="Spec_FileUpload_Component" />
                </div>
                <div id="lbDiaUPSEErrorMsg" style="text-align:left"></div>*@
                @Html.Partial("_Files", new ViewDataDictionary { { "formId", "fileupload_uploadVDS" }, { "subfolderPath", @ViewBag.UploadFolderName } })
            </td>
            <td><button id="btnProcess">Process</button></td>
        </tr>
        <tr>
            <td style="text-align: right; font-weight: bold;">Upload Type</td>
            <td>
                <input type="checkbox" id="cbD" value="D" /><label for="cbD">Daily</label>
                <input type="checkbox" id="cbW" value="W" /><label for="cbW">Weekly</label>
                <input type="checkbox" id="cbM" value="M" /><label for="cbM">Monthly</label>
                <input type="checkbox" id="cbX" value="X" /><label for="cbX">Daily + Weekly + Monthly</label>
            </td>
            <td></td>
        </tr>
    </table>
</div>